.vagrant
puppet/modules/apt/
puppet/modules/concat/
puppet/modules/postgresql/
puppet/modules/stdlib/
server/Doctor_Appointment_App.egg-info
server/data.sql
server/data.db
server/server.log
output.log
server/doctor/db/__pycache__/
server/doctor/__pycache__/
server/doctor/db/__pycache__/
server/doctor/db/alembic/__pycache__/
server/doctor/db/alembic/versions/__pycache__/
server/doctor/doctor_registration/__pycache__/
server/doctor/dashboard/__pycache__/
server/doctor/patient_appointment/__pycache__/
server/tests/__pycache__/
server/tests/doctor_registration/__pycache__/
DocApp_Notes
DocApp_Notes~