.vagrant
puppet/modules/apt/
puppet/modules/concat/
puppet/modules/postgresql/
puppet/modules/stdlib/
server/Doctor_Appointment_App.egg-info
server/data.sql
server/data.db
server/server.log
output.log
server/doctor/db/__pycache__/models.cpython-34.pyc